.header {
  --background: var(--ion-color-primary);
  --color: white;

  .item-wrapper {
    padding: 5px;
    height: auto;
    font-weight: bold;

    .item-info {
      .timestamp {
        font-size: 10px;
        color: white;
      }

      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }
  }

}

.chat {
  margin: 10px 10px 0 10px;
  overflow: auto;
  height: calc(100% - 80px);


  .message {
    margin-bottom: 10px;

    &.owner {
      .message-content {
        background-color: var(--ion-color-message-sent);
        color: white;
      }
    }

    .message-content {
      padding: 10px;
      border-radius: 5px;
      background-color: var(--ion-color-message-received);
      font-size: 18px;
      max-width: calc(100% - 50px);
      width: max-content;
    }

    .message-date {
      font-size: 10px;
      text-align: right;
    }
  }

}

.chat-input {
  border-top: 1px solid lightgray;
  padding: 10px;

  ion-item {
    background-color: transparent;
  }

  ion-button {
    --color: var(--ion-text-color);
  }
}
