<!--<app-loader [isLoading]="isLoading" text="chat.loading"></app-loader>-->
<ion-header *ngIf="chat">
  <ion-toolbar class="header">
    <div class="item-wrapper" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
      <ion-icon name="chevron-back-sharp" (click)="back()"></ion-icon>
      <div class="item-info"
           fxLayout="row"
           fxLayoutAlign="start center"
           [routerLink]="'/tabs/detail/' + chat.item.id">

        <ion-avatar>
          <ion-img [src]="chat.item.defaultImage"></ion-img>
        </ion-avatar>

        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
          <ion-label class="name">{{chat.item.name}}</ion-label>
          <ion-label class="timestamp">{{'request.item.timestamp' | translate}}
            {{chat.createdAt | localeDate:true}}</ion-label>
        </div>

      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chat">
  <div class="chat" #chatDiv [scrollTop]="chatDiv.scrollHeight">
    <div class="message"
         *ngFor="let msg of chat.messages; trackBy: trackByCreated"
         [class.owner]="msg.user.id === userId">
      <div fxLayout="column"
           fxLayoutGap="8px"
           fxLayoutAlign="{{msg.user.id === userId ? 'center start' : 'center end'}}">
        <app-user-profile [user]="msg.user"></app-user-profile>
        <span class="message-content">{{ msg.content }}</span>
        <span class="message-date">{{msg.createdAt | localeDate:true}}</span>
      </div>
    </div>
  </div>

  <div class="chat-input" fxLayout="row" fxLayoutGap="10px">
    <ion-item class="create-type-item" fxFlex>
      <ion-textarea [(ngModel)]="newMsg" (keydown.enter)="submit()"
                    [placeholder]="'chat.placeholder' | translate"
                    class="create-textarea ion-no-padding">
      </ion-textarea>
    </ion-item>

    <ion-button fill="clear" (click)="submit()" [disabled]="!newMsg">
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </div>
</ion-content>

