ion-item {
  &.unread {
    --background: var(--ion-color-order-unread);
  }
  .item-wrapper {
    padding: 8px;
    width: 100%;

    .item-meta {
      .name {
        font-weight: bold;
      }

      .timestamp {
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

}
