<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{item?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <div>
    <ion-slides [pager]="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of item.images">
        <ion-img [src]="image"></ion-img>
      </ion-slide>
    </ion-slides>

    <div class="interaction-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="statistics-wrapper" fxLayout="column">
        <div class="favorites-wrapper" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <ion-icon name="heart-sharp"></ion-icon>
          <ion-label>{{item.favoriteCount}}</ion-label>
        </div>
        <div class="rating-wrapper" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
          <star-rating [value]="item.rating.average"
                       totalstars="5"
                       checkedcolor="#fca652"
                       uncheckedcolor="lightgray"></star-rating>
          <ion-label>{{item.rating.average | number: '1.1-1'}} ({{item.rating.rates}})</ion-label>
        </div>
      </div>


      <div class="interactions">
        <div fxLayout="row" fxLayoutGap="5px" *ngIf="item.user.id !== userId; else edit">
          <ion-icon (click)="favorite()" [name]="(item | isFavorite) | async"></ion-icon>
          <ion-icon (click)="showUserProfile()" name="person-sharp"></ion-icon>
        </div>
        <ng-template #edit>
          <ion-icon name="create-outline" (click)="editItem()"></ion-icon>
        </ng-template>
      </div>
    </div>
    <div class="order-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="price-wrapper" fxLayout="column" fxLayoutAlign="center start">
        <ion-label class="price">{{item.portion.price | currency}}</ion-label>
        <ion-label class="unit">
          {{'portion.price.perPortion' | translate}}
        </ion-label>
      </div>

      <app-portionizer [item]="item" [(amount)]="amount"></app-portionizer>
    </div>
    <div class="description-wrapper" fxLayout="column" fxLayoutGap="5px">
      <ion-label>{{'publish.description.label' | translate}}</ion-label>
      <ion-text class="ion-text-wrap" [class.can-order]="item.user.id !== userId">
        {{item.description}}
      </ion-text>
    </div>
  </div>

</ion-content>
<ion-button class="order-button" expand="block" *ngIf="item && (item.user.id !== userId)" (click)="showRequestForm()">
  <span [innerHTML]="'detail.order.button' | translate:{value:amount * item.portion.price | currency }"></span>
</ion-button>
