ion-slides {
  height: 200px;
}

.order-button {
  position: absolute;
  width: calc(100% - 20px);
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}

ion-img {
  height: 100%;
  width: 100%;
  max-width: 420px;
  object-fit: cover;

  &::part(image) {
    border-radius: 10px;
  }
}

.interaction-wrapper {
  height: 50px;
  margin-top: 10px;
  color: var(--ion-text-color);

  ion-icon {
    color: var(--ion-color-primary);
  }

  .statistics-wrapper {
    ion-label {
      font-weight: 600;
      font-size: 12px;
    }
  }

  .interactions {
    font-size: 22px;
  }
}

.order-wrapper {
  border-bottom: 1px solid var(--ion-color-primary);
  padding-bottom: 5px;

  .price-wrapper {
    .price {
      height: 35px;
      font-weight: bold;
      font-size: 18px;
      line-height: 35px;
    }

    .unit {
      font-size: 12px;
      font-weight: 100;
      color: grey;
    }
  }


}

.description-wrapper {
  margin-top: 10px;

  ion-label {
    color: lightgrey;
    font-weight: 600;
    font-size: 16px;
  }

  ion-text {
    font-weight: 100;
    line-height: 24px;

    &.can-order {
      margin-bottom: 100px;
    }
  }
}

::ng-deep star-rating {
  font-size: 20px;
  padding-bottom: 5px;
}

::ng-deep .star.half {
  position: relative;

  &:after {
    left: 0;
    margin-left: 0 !important;
    width: 50% !important;
  }
}
