<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
  <ion-card class="item-wrapper" *ngFor="let item of (items$ | async)" fxFlex="1 1 calc(33% - 5px)">
    <img class="item-image" src="{{item.images[0]}}">
    <ion-card-title>{{item.name}}</ion-card-title>

    <ion-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="rating-wrapper">
        <ion-icon name="star-sharp"></ion-icon>
        <ion-label>{{item.rating.average | number:'1.1-1'}}</ion-label>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="rating-wrapper">
        <ion-icon name="heart-sharp"></ion-icon>
        <ion-label>{{item.favoriteCount}}</ion-label>
      </div>
    </ion-card-content>

    <div class="button-wrapper" fxLayout="column" fxLayoutAlign="space-around center">
      <ion-button expand="block" fill="outline" color="primary"
                  (click)="editItem(item)">
        {{'profile.item.edit' | translate}}
      </ion-button>

      <ion-button expand="block"
                  fill="outline"
                  color="warning"
                  (click)="setProductStatus(item, ProductStatusEnum.UNPUBLISHED)"
                  *ngIf="item.status === ProductStatusEnum.PUBLISHED">
        {{'profile.item.unpublish' | translate}}
      </ion-button>

      <ion-button expand="block"
                  fill="outline"
                  color="success"
                  (click)="setProductStatus(item, ProductStatusEnum.PUBLISHED)"
                  *ngIf="item.status === ProductStatusEnum.UNPUBLISHED">
        {{'profile.item.publish' | translate}}
      </ion-button>

      <ion-button expand="block"
                  fill="outline"
                  color="danger"
                  (click)="setProductStatus(item, ProductStatusEnum.DELETED)">
        {{'profile.item.delete' | translate}}
      </ion-button>

    </div>

  </ion-card>
</div>


