@import "mixins";
.item-wrapper {
  margin: 20px 0 0 0;
  height: 430px;

  ion-card-title {
    @include clamp-text;

    font-size: 18px;
    padding: 8px 0 0 8px;
    height: 50px;
  }

  ion-card-content {
    padding: 8px 0 0 8px;
  }

  .item-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .button-wrapper {
    margin: 8px;

    ion-button {
      width: 100%;
    }
  }
}
