.content {
  width: 100%;
  height: 100%;
  background-color: black;

  ion-slides {
    height: calc(100% - 100px);
  }

  ion-icon {
    margin: 10px 10px;
    font-size: 24px;
    color: var(--ion-color-primary);

    &.delete {
      margin-left: calc(50% - 12px);
    }
  }

  ion-img {
    width: 100%;
    height: 100%;
  }
}







