<div class="content">
  <ion-icon (click)="close()" name="chevron-back-sharp" class="close"></ion-icon>
  <ion-slides [options]="sliderOptions">
    <ion-slide>
      <img alt="image" [src]="fileURL">
    </ion-slide>
  </ion-slides>
  <ion-icon (click)="deleteImage()" name="trash-sharp" color="danger" class="delete"></ion-icon>
</div>

