<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="isNotAndroid" slot="end">
      <ion-button color="danger" (click)="close()">
        <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{'request.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div fxLayout="column" fxLayoutGap="5px">
    <ion-label>{{item.name}}</ion-label>
    <ion-label class="description">{{'request.description' | translate:{username: item.user.username} }}</ion-label>
  </div>

  <ion-card class="item-overview">
    <ion-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <ion-img [src]="item.images[0]"></ion-img>
      <app-portionizer [item]="item" [(amount)]="portionAmount"></app-portionizer>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-textarea placeholder="{{'request.text.placeholder' | translate:{username: item.user.username} }}"
                    rows="5"
                    [(ngModel)]="requestText">
      </ion-textarea>
    </ion-card-content>
  </ion-card>


  <ion-button class="order-button" expand="block" (click)="sendRequest()">
    <span [innerHTML]="'detail.order.button' | translate:{value:portionAmount * item.portion.price | currency }"></span>
  </ion-button>

</ion-content>
