$containerWidth: 90px;
$containerHeight: 120px;
$imageHeight: 90px;

.image-slider {
  width: 100%;
  height:  150px;

  ion-slide {
    width: $containerWidth;
    height: 120px;
    margin-right: 5px;

    &.swiper-slide {
      align-items: baseline;
    }
  }
}


.image-container {
  width: $containerWidth;
  height: $containerHeight;

  .spinner {
    position: absolute;
    top: 25%;
    color: var(--ion-color-primary);
  }

  .image-preview {
    width: 100%;
    height: $imageHeight;
    object-fit: cover;
  }

  .delete {
    font-size: 24px;
  }
}

.image-add-container {
  width: $containerWidth;
  height: $imageHeight;

  .image-add-button {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px dashed var(--ion-color-primary);
    color: var(--ion-color-primary);

    .image-add-icon {
      color: var(--ion-color-primary);
      font-size: 50px;
    }
  }
}

.image-add-container  {
  &.profile {
    height: 100px;

    .profile-image-wrapper {
      position: relative;

      .spinner {
        color: var(--ion-color-primary);
        position: absolute;
        top: 25%;
        right: 0;
        left: 0;
        margin: auto;
      }

      .profile {
        width: 80px;
        height: 80px;

        ion-icon {
          width: 100%;
          margin-top: 14px;
        }
      }
    }
  }
}

