<div *ngIf="!isProfileImage; else profileImage" class="image-uploader-div" fxLayoutAlign="center center">
  <ion-slides #slider class="image-slider" [pager]="true" [options]="sliderOptions">
    <ion-slide *ngIf="!_images || _images.length === 0 || _images.length < size">
      <div class="image-add-container">
        <ion-button (click)="selectImage()" class="image-add-button" fill="clear">
          <ion-icon name="image-sharp" class="image-add-icon"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide *ngFor="let image of _images; index as i" class="image-slider">
      <div class="image-container">
        <ion-spinner class="spinner" *ngIf="!image.loaded"></ion-spinner>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
          <img class="image-preview"
               [src]="image?.url"
               (click)="openImage(image.url, i)"
               (load)="image.loaded = true" />
          <ion-icon class="delete" name="close-sharp" color="danger" (click)="deleteImage(i)"></ion-icon>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</div>

<ng-template #profileImage>
  <div class="image-add-container profile">
      <div *ngIf="!_images || _images.length === 0 || _images.length < size" class="profile-image-wrapper">
        <ion-avatar (click)="selectImage()" class="image-add-button profile">
          <ion-icon name="image-sharp" class="image-add-icon"></ion-icon>
        </ion-avatar>
      </div>

      <div *ngIf="_images && _images[0] as image" class="profile-image-wrapper">
        <ion-spinner class="spinner" *ngIf="!image.loaded"></ion-spinner>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
          <ion-avatar class="image-add-button profile">
            <img class="image-preview"
                 [src]="image?.url"
                 (click)="openImage(image.url, 0)"
                 (load)="image.loaded = true" />
          </ion-avatar>
          <ion-icon class="delete" name="refresh-sharp" color="danger" (click)="deleteImage(0)"></ion-icon>
        </div>
      </div>
    </div>
</ng-template>
