ion-slides {
  height: 100%;
}

ion-slide {
  overflow-y: auto;

  app-privacy {
    ::ng-deep ion-list {
      margin-bottom: 50px;
    }
  }

}

.slide {
  img {
    height: 200px;
    width: auto;
  }
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}
