<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides [options]="slideOpts" pager="true" #slides>
    <ion-slide>
      <div class="slide">
        <img [src]="'assets/illustration/welcome.svg'">
        <h2>{{'welcome.page1.title' | translate}}</h2>
        <p>{{'welcome.page1.description' | translate}}</p>
        <p>{{'welcome.page1.description2' | translate}}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img [src]="'assets/illustration/map.svg'">
        <h2>{{'welcome.page2.title' | translate}}</h2>
        <p>{{'welcome.page2.description' | translate}}</p>
        <ion-button *ngIf="!isWaitingForLocation" (click)="permitLocation()">{{'welcome.page2.action' | translate}}</ion-button>
        <div *ngIf="isWaitingForLocation" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <ion-spinner color="primary" *ngIf="isWaitingForLocation"></ion-spinner>
          <ion-label>{{'location.loadingMessage' | translate}}</ion-label>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img [src]="'assets/illustration/notification.svg'">
        <h2>{{'welcome.page3.title' | translate}}</h2>
        <p>{{'welcome.page3.description' | translate}}</p>
        <ion-button *ngIf="!isWaitingForNotification" (click)="permitNotifications()">{{'welcome.page3.action' | translate}}</ion-button>
        <ion-spinner color="primary" *ngIf="isWaitingForNotification"></ion-spinner>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img [src]="'assets/illustration/privacy.svg'">
        <h2>{{'welcome.page4.title' | translate}}</h2>
        <p>{{'welcome.page4.description' | translate}}</p>
        <ion-button (click)="showPrivacy()" fill="clear">
          {{'welcome.page4.privacy' | translate}}
        </ion-button>
<!--        <app-privacy [showHeader]="false"></app-privacy>-->
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img [src]="'assets/illustration/login.svg'">
        <h2>{{'welcome.page5.title' | translate}}</h2>
        <p>{{'welcome.page5.description' | translate}}</p>
        <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
          <ion-button (click)="register()">{{'welcome.page5.action' | translate}}</ion-button>
          <ion-button (click)="skip()">{{'welcome.page5.skip' | translate}}</ion-button>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
