<div class="portion-wrapper" fxLayout="column" fxLayoutAlign="end center">
  <div class="amount-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <ion-button size="small" (click)="decrease()">-</ion-button>
    <ion-input [(ngModel)]="amount"></ion-input>
    <ion-button size="small" (click)="increase()">+</ion-button>
  </div>
  <ion-label class="portion-label">
    {{'portion.short' | translate}}
    ({{item.portion.size}} {{'unit.' + unitEnum[item.portion.unit] + '.short' |translate}})
  </ion-label>
</div>
