.portion-wrapper {
  width: 110px;

  .amount-wrapper {
    height: 35px;

    ion-button {
      width: 30px;
    }

    ion-input {
      width: 30px;
      text-align: center;
      --padding-end: 0;
      border-bottom: 1px solid var(--ion-color-primary);
      height: 30px;
    }
  }

  .portion-label {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color: grey;
  }
}
