<ion-header>
  <ion-toolbar>
    <ion-title>{{'filter.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" (click)="close(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-place-autocomplete [selectedLocation]="filter?.geocoderResult"
                          (onSelectedLocation)="setLocation($event)">
  </app-place-autocomplete>

  <ion-item class="range" lines="none">
    <ion-range class="ion-no-padding"
               [(ngModel)]="filter.radius"
               (ngModelChange)="setRadius()"
               min="0"
               max="50"
               color="secondary"
               step="5"
               snaps="true"
               ticks="true">
      <ion-label slot="start">{{'location.search.radius' | translate }}: {{radiusValue}} km</ion-label>
    </ion-range>
  </ion-item>

  <google-map [center]="filter?.geocoderResult?.geometry?.location"
              [options]="options"
              height="500px"
              width="100%">
  </google-map>

  <ion-button class="confirm" (click)="close(true)">{{'filter.confirm' | translate}}</ion-button>
</ion-content>