<ion-header>
  <ion-toolbar class="header">
    <ion-title>{{'settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-privacy></app-privacy>
  <app-legal></app-legal>
  <ion-list>
    <ion-list-header>
      <ion-label>{{'settings.misc.title' | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{'settings.misc.darkmode' | translate}}</ion-label>
      <ion-toggle (ionChange)="setDarkMode($event.detail.checked)" [(ngModel)]="enableDarkMode"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-icon icon="logo-facebook"></ion-icon>
        <ion-label class="facebook-label" (click)="openFacebook()">{{'settings.misc.facebook' | translate}}</ion-label>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
