<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-sharp" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'settings.legal.privacy' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <h4>1. Einleitung</h4>

    <p>
        Deine persönlichen Daten sind uns sehr wichtig! Bitte nimm dir die Zeit und lies dir die
        Datenschutzerklärung gründlich durch, damit du genau Bescheid weißt, was mit deinen
        persönlichen Daten passiert und wer auf diese Daten Zugriff hat.
    </p>

    <br/>

    <h4>2. Kontaktinformationen</h4>

    <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der
        EU-Datenschutzgrundverordnung (DSGVO),
        ist:</p>

    <p>kenara UG (haftungsbeschränkt) i.G.</p>

    <p>E-Mail: <a href='mailto:info@kenara.app'>info@kenara.app</a></p>

    <br/>

    <h4>3. Wichtige Begriffe</h4>

    <p>Unter diesem Link findest du offizielle Erklärung der Datenschutzerklärung (DSGVO) unter
        diesem Link (<a href="https://dejure.org/gesetze/DSGVO/4.html">https://dejure.org/gesetze/DSGVO/4.html</a>).
    </p>

    <br/>

    <h4>4. Welche Informationen erfassen wir grundsätzlich?</h4>

    <p>Im Folgenden erfährst du, welche Daten wir speichern. Wenn du Fragen hast melde dich gerne
        einfach bei uns!</p>

    <p>
        Um unsere App zu benutzen, musst du dir nicht unbedingt ein Nutzerkonto anlegen. Das Nutzerkonto ist
        erforderlich, damit die Funktionen in der App, wie z.B. die Erstellung von Anzeigen oder das versenden von
        Nachrichten.
    </p>

    <p>
        Bei der Registierung und der Verwendung unserer App muss die IP-Adresse von dir verarbeitet werden, um eine
        Verbindung zu den Firebase-Servern aufzubauen. Diese wird temporär gespeichert.
    </p>

    <p>
        Wenn du ein neues Nutzerkonto erstellst, kannst du dies auf drei verschiedenen Wege
        machen.
    </p>


    <br>
    <p><b>1) Registrierung per E-Mail</b></p>
    <p>Bei der Registrierung per E-Mail erheben wir folgende Daten:</p>

    <ul>
        <li>Profilbild (optional)</li>
        <li>Vorname</li>
        <li>Nachname</li>
        <li>E-Mail</li>
        <li>Telefonnummer (optional)</li>
    </ul>

    <br>
    <p><b>2) Registrierung via Google (Google Sign-In)</b></p>
    <p>Bei der Registrierung via Google erheben wir folgende Daten:</p>

    <ul>
        <li>Profilbild (optional)</li>
        <li>Vorname (deines Google Profils)</li>
        <li>Nachname (deines Google Profils)</li>
        <li>E-Mail</li>
        <li>Telefonnummer (optional)</li>
    </ul>

    <p>
        Weitere Informationen zu Google Sign-In und den Privatsphäre-Einstellungen findest du in
        den <a href="https://policies.google.com/privacy?hl=de&gl=de">Datenschutzhinweisen</a>
        und den <a href="https://policies.google.com/terms?hl=de&gl=de">Nutzungsbedingungen</a>
        der Google LLC.
    </p>

    <br>
    <p><b>3) Registrierung als Facebook Nutzer</b></p>
    <p>Bei der Registrierung erheben wir folgende Daten:</p>

    <ul>
        <li>Profilbild (optional)</li>
        <li>Vorname (deines Facebook Profils)</li>
        <li>Nachname (deines Facebook Profils)</li>
        <li>E-Mail</li>
        <li>Telefonnummer (optional)</li>
    </ul>

    <p>Weitere Informationen zum Facebook Login und den Privatsphäre-Einstellungen findest du auf
        folgender Seite
        <a href="https://www.facebook.com/policies">Facebook-Nutzungsbedingungen und Richtlinien</a>
        der Facebook Ireland Limited.
    </p>

    <br>
    <p>Wenn du ein Nutzerkonto erstellt hast, kannst du unsere App kostenlos benutzen. (Wenn du
        dich für die Rechtsgrundlage dazu interessierst, findest du das in der DSGVO unter Art.
        6 Abs. 1 lit. a und Art. 6 Abs. 1 lit. b.).</p>

    <br>
    <p><strong>Warum diese Daten erhoben werden?</strong></p>

    <p>
        Deinen Namen benötigen die anderen Nutzer, um dich zu identifizieren.
        Die E-Mail benötigst du, um dein Passwort zurückzusetzen oder aber Benachrichtigungen zu
        erhalten.
        Hast du dies einmal vergessen, schicken wir an diese E-Mail einen Link, mit dem du dir ein neues
        Passwort setzen
        kannst.
    </p>

    <br/>

    <h4>5. An wen geben wir deine Daten weiter?</h4>

    <p>
        Wir geben deine Daten nur an einen einzigen externen Dienstleister (Google Firebase) weiter, den wir zur
        Speicherung der Daten brauchen. Google Firebase ermöglicht es uns sichere und einfache Anmeldevorgänge und
        Datenspeicherung vorzunehmen.
    </p>

    <p>Bei Google Firebase verwenden wir folgende Dienste (+ Zertifizierung):</p>

    <ul>
        <li>Firebase Authentication (ISO 27001)</li>
        <li>Cloud Firestore (ISO 27018)</li>
        <li>Cloud Functions (ISO 27018)</li>
        <li>Firebase Cloud Messaging (ISO 27001)</li>
    </ul>

    <p><strong>Firebase Authentication:</strong></p>

    <p>
        Benötigt deine E-Mail Adresse, dein Passwort und deine IP-Adresse (für mehr Sicherheit).
        Die IP-Adresse bleibt für ein paar Wochen gespeichert. Speicherort: USA (nach
        EU-Datenschutzrecht)
    </p>

    <p><strong>Cloud Firestore:</strong></p>

    <p>
        Firestore ist die Datenbank, in der wir z.B. deine Anzeigen und Nachrichten soeichern.
        Der Speicherort von Firestore ist Frankfurt/Main (Deutschland).
    </p>

    <p><strong>Cloud Functions:</strong></p>

    <p>
        Mit Cloud Funtioncs verschicken wir unter anderem Push Nachrichten, sobald du eine neue
        Nachricht erhalten hast.
        Dabei wird temporär deine IP-Adresse gespeichert. Der Speicherort der Cloud Functions ist
        ebenfalls
        Frankfurt/Main (Deutschland).
    </p>

    <p><strong>Firebase Cloud Messaging:</strong></p>

    <p>
        Damit wir dich über wichtige Neuigkeiten und offene Hausaufgaben erinnern können,
        verwenden wir von Firebase den Dienst Firebase Messaging. Dabei wird temporär die
        <a href="https://developers.google.com/instance-id/">Instance ID</a> verarbeitet. Die Instance
        ID wird dazu
        verwendet, um einen speziellen Gerät eine Push-Notification zu schicken. So werden nur an deine
        Geräte auch
        deine
        Notifications geschickt.
    </p>

    <p>
        Weitere Informationen findest du in der Datenschutzerklärung von Google Firebase:
        <a href="https://firebase.google.com/support/privacy/">https://firebase.google.com/support/privacy/</a>
    </p>

    <br/>

    <h4>6. Google AdMob</h4>
    <p>
        Für Werbeeinblendungen nutzen wir den Werbepartner AdMob Google Inc. Admob sammelt persönliche Daten wie Device
        IDs, GPS-Daten, demographische Daten u.a. um für dich relevante Werbung anzeigen zu können. Alternativ kannst du
        auch nicht personalisierte Werbung angezeigt bekommen. Die Einstellungsmöglichkeit findest du in den
        Einstellungen unter dem Punkt "Datenschutz".
        Weitere Details zu den von Google Admob erhobenen Daten findest du in der Datenschutzerklärung von Google.
    </p>

    <p>
        Weitere Informationen findest du in der Datenschutzerklärung von Google Firebase:
        <a href="https://firebase.google.com/support/privacy/">https://firebase.google.com/support/privacy/</a>
    </p>

    <h4>7. Wie lange speichern wir deine Daten?</h4>

    <p>
        Die Dauer der Speicherung von personenbezogenen Daten bemisst sich anhand der gesetzlichen Aufbewahrungsrechte
        und -Pflichten (z.B. aus dem Handels- oder Steuerrecht). Läuft die Frist ab, werden die Daten bis zum Ende des
        Monats gelöscht, sofern sie nicht für die Anbahnung, Durchführung und Beendigung eines Vertrags erforderlich
        sind und/oder kein berechtigtes Interesse unsererseits an der Verarbeitung besteht.
    </p>

    <h4>8. Welche Rechte hast du?</h4>

    <p>In diesem Abschnitt erklären wird dir nun etwas genauer erklärt, welche Rechte du als Nutzer hast.</p>

    <ul>
        <li>1) Das Recht, gemäß Art. 15 DSGVO Auskunft über deine von uns verarbeiteten
            personenbezogenen Daten zu verlangen. Insbesondere kannst du Auskunft über die
            Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von
            Empfängern, gegenüber denen deine Daten offengelegt wurden oder werden, die
            geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung,
            Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines
            Beschwerderechts, die Herkunft deiner Daten, sofern diese nicht bei uns erhoben
            wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung
            einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren
            Einzelheiten verlangen.
        </li>
        <li>2) Das Recht, gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder
            Vervollständigung deiner bei uns gespeicherten personenbezogenen Daten zu
            verlangen.
        </li>
        <li>3) Das Recht, gemäß Art. 17 DSGVO die Löschung deiner bei uns gespeicherten
            personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung
            des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer
            rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur
            Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.
        </li>
        <li>4) Das Recht, gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung deiner
            personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von dir
            bestritten wird, die Verarbeitung unrechtmäßig ist, du aber deren Löschung
            ablehnst und wir die Daten nicht mehr benötigen, du jedoch diese zur
            Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigst oder du
            gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt hast.
        </li>
        <li>5) Das Recht, gemäß Art. 20 DSGVO deine personenbezogenen Daten, die du uns
            bereitgestellt hast, in einem strukturierten, gängigen und maschinenlesebaren
            Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu
            verlangen.
        </li>
        <li>6) Das Recht, sich gemäß Art. 77 DSGVO bei einer Aufsichtsbehörde zu beschweren.
            In der Regel kannst du dich hierfür an die Aufsichtsbehörde des Bundeslandes
            unseres oben angegebenen Sitzes oder ggf. die deines üblichen Aufenthaltsortes oder
            Arbeitsplatzes wenden.
            <br>
            Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift findest du
            <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">hier</a>.
        </li>
    </ul>
    <p>
        Sofern du uns eine Einwilligung erteilt hast, kannst du diese jederzeit mit Wirkung für die
        Zukunft widerrufen.
    </p>
    <br/>


    <p>
        Wenn du es bis hierhin geschaffst hast, bist du vollsten darüber informiert, welche Daten wir
        speichern,
        wofür wir diese verwenenden, an wen wir diese weitergeben und wie lange wir deine Daten
        speichern.

    <p>Sollten immer noch irgendwelche Fragen aufkommen, dann schreib uns einfach eine E-Mail
        an: <a href='mailto:info@kenara.app'>info@kenara.app</a></p>
</ion-content>
