<ion-header>
  <ion-toolbar>
    <ion-title>{{user ? user.username : ('profile.title' | translate)}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="currentState" scrollable routerLinkActive>
    <ion-segment-button value="account">
      <ion-label>{{'profile.segment.account_information' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="advertisements">
      <ion-label>{{'profile.segment.advertisements' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>{{'profile.segment.favorites' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="currentState">
    <app-account [user]="user" *ngSwitchCase="'account'"></app-account>
    <app-advertisements [user]="user" *ngSwitchCase="'advertisements'"></app-advertisements>
    <app-favorites [user]="user" *ngSwitchCase="'favorites'"></app-favorites>
  </ng-container>
</ion-content>
