.favorites-wrapper {
  margin: 20px 0 0 0;



  .favorite-item-wrapper {
    position: relative;
    height: 150px;

    app-item-view {
      height: 150px;
    }
    .unfavore {
      position: absolute;
      z-index: 1;
      right: 8px;
      top: 8px;
      font-size: 20px;
    }
  }


}
