<div class="favorites-wrapper" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div class="favorite-item-wrapper" *ngFor="let item of (items$ | async)" fxFlex="1 1 calc(33% - 5px)">
    <ion-icon class="unfavore" name="heart-sharp" (click)="updateFavorite($event, item)"></ion-icon>
    <app-item-view [item]="item" (click)="navigate(item.id)">
      <ion-icon name="heart-sharp" favorites></ion-icon>
      <ion-label favorites>{{item.favoriteCount}}</ion-label>
    </app-item-view>
  </div>
</div>


