@import "mixins";

.item-wrapper {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;

  .item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    border-radius: 10px;
  }

  app-user-profile, .item-content {
    position: absolute;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  app-user-profile {
    margin-top: 8px;
    left: 0;
  }


  .item-content {
    bottom: 0;
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: calc(100% - 8px);
    padding-right: 8px;

    .item-name {
      @include clamp-text;
    }

    .statistics-wrapper {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
