<div class="item-wrapper">
  <img class="item-image" src="{{item.images[0]}}">
  <app-user-profile *ngIf="showUserInfo"  [user]="item.user"></app-user-profile>

  <div class="item-content" fxLayout="column" fxLayoutGap="5px">
    <ion-label class="item-name">{{item.name}}</ion-label>
    <ng-content select="[description]"></ng-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="start center" class="statistics-wrapper">
        <ion-icon name="star-sharp"></ion-icon>
        <ion-label>{{item.rating.average | number:'1.1-1'}}</ion-label>
      </div>

      <div *ngIf="showFavoriteCount" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="start center" class="statistics-wrapper">
        <ion-icon name="heart-sharp"></ion-icon>
        <ion-label>{{item.favoriteCount}}</ion-label>
      </div>

      <ion-label *ngIf="showTimestamp" class="timestamp">{{item.timestamp | localeDate:true }}</ion-label>

    </div>

  </div>
</div>
