<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngFor="let tab of appPages" tab="{{tab.url}}">
      <ion-badge *ngIf="tab.badgeCount" color="danger">{{tab.badgeCount}}</ion-badge>
      <ion-label>{{'tab.' + tab.title | translate}}</ion-label>
      <ion-icon name="{{tab.icon}}"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
