.user-profile {
  .username {
    font-size: 12px;
    font-weight: 600;
    color: white;
  }
  ion-avatar {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    ion-icon {
      font-size: 31px;
      color: white;
    }
  }
}
