<div class="user-profile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
  <ion-avatar>
    <ion-img *ngIf="user.profileImageUrl; else fallback" src="{{user.profileImageUrl}}"></ion-img>
  </ion-avatar>
  <div fxLayout="column">
    <ion-label class="username">{{user.username}}</ion-label>
  </div>
</div>

<ng-template #fallback>
  <ion-icon name="person-circle-sharp"></ion-icon>
</ng-template>
