<ion-label class="form-title" fxLayout="column">
  <span>{{'login.form.title.login' | translate}}</span>
</ion-label>

<form class="login-form" [formGroup]="form" fxLayoutGap="20px" fxLayout="column">
  <ion-item [class.invalid]="form.controls.email | formHasError">
    <ion-label position="stacked">{{'form.email.label' | translate}}</ion-label>
    <ion-input formControlName="email" placeholder="{{'login.form.mandatory' | translate}}"></ion-input>
  </ion-item>

  <ion-item [class.invalid]="form.controls.password | formHasError">
    <ion-label position="stacked">{{'form.password.label' | translate}}</ion-label>
    <ion-input type="password" placeholder="{{'form.mandatory' | translate}}"
               formControlName="password"></ion-input>
  </ion-item>
</form>

<div class="login-button-wrapper" fxLayout="column" fxLayoutGap="10px">
  <ion-button [disabled]="isLoading || form.invalid"
              expand="block"
              fill="solid"
              (click)="loginWithEmail()">
    <span *ngIf="!isLoading">{{'login.button.login' | translate }}</span>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </ion-button>

  <ion-button expand="block" fill="outline" [disabled]="isLoading"
              class="reset-password" (click)="resetPassword()">
    {{'login.button.passwordReset' | translate}}
  </ion-button>
</div>
