.login-button-wrapper {
  ion-button {
    &.reset-password {
      color: var(--ion-color-primary);
    }
  }
}

.form-title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  color: var(--ion-text-color);
}
