<div fxLayout="column" *ngIf="user" fxLayoutAlign="center stretch">
  <div class="profile-wrapper" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5px">
    <app-image-uploader [images]="[user.profileImageUrl]"
                        [size]="1"
                        [isProfileImage]="true"
                        (profileImageChanged)="imageChanged = true"
                        (imageDeleted)="imageDeleted = true">
    </app-image-uploader>
    <ion-button (click)="logout()" fill="outline" color="danger">{{'profile.logout' | translate}}</ion-button>

  </div>

  <form [formGroup]="form">
    <ion-item>
      <ion-label class="item-title-label"
                 position="stacked">{{'form.firstName.label' | translate}}</ion-label>
      <ion-input formControlName="firstName"
                 [readonly]="user.lastName"
                 placeholder="{{'form.optional' | translate}}">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="item-title-label"
                 position="stacked">{{'form.lastName.label' | translate}}</ion-label>
      <ion-input formControlName="lastName"
                 [readonly]="user.lastName"
                 placeholder="{{'form.optional' | translate}}">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="item-title-label" position="stacked">
        {{'form.email.label' | translate}}
      </ion-label>
      <div class="email" fxLayout="row" fxLayoutAlign="space-between center">
        <ion-input formControlName="email"></ion-input>
        <ion-button (click)="updateEmail()"
                    [disabled]="form.get('email').pristine ||
                    (!form.get('email').pristine && form.get('email').invalid)">
          <ion-icon name="refresh-sharp"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-button (click)="updateUserInfo()"
                *ngIf="(imageChanged || imageDeleted) ||
                       !form.get('firstName').pristine || !form.get('lastName').pristine"
                [disabled]="this.isLoading"
                class="update-user"
                expand="block">
      {{'profile.account.update.button' | translate}}
    </ion-button>
  </form>
</div>
