<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'settings.legal.imprint' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>
        kenara UG (haftungsbeschränkt) i.G.
        <br/>
        Tegelsbarg 67
        <br/>
        22399 Hamburg
    </p>

    <p><strong>Vertreten durch:</strong></p>
    <p>Tarkan Gökdal</p>

    <p><strong>Kontakt:</strong></p>
    <p>
        Telefon: aktuell kein Telefonservice
        <br/>
        E-Mail: <a href='mailto:info@kenara.app'>info@kenara.app</a><br/>
        Webseite: <a href='https://kenara.app'>https://www.kenara.app</a>
    </p>

    <p><strong>Eingetragen am</strong></p>
    <p>Wird nachgetragen, sobald Gründung abgeschlossen ist</p>
    <!--    <p>-->
    <!--        Amtsgericht Hamburg-->
    <!--        <br>-->
    <!--        HRB 732740-->
    <!--    </p>-->
    <!--    <strong>USt-IdNr.:</strong>-->
    <!--    <p>DE322477187</p>-->
    <!--    <br/>-->

    <h3>Haftungsausschluss (Disclaimer)</h3>
    <p><strong>Haftung für Inhalte</strong></p>
    <p>Die Inhalte dieser App wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
        Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
        nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
        Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
        Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine
        diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
        Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
        wir diese Inhalte umgehend entfernen.</p>
    <p><strong>Haftung für Links</strong></p>
    <p>Unser Angebot enthält Links zu externen Webseiten oder Anwendungen Dritter, auf deren Inhalte wir keinen
       Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr
       übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder
       Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
       Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
       Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der
       verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
       zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
       entfernen.</p>
    <p><strong>Urheberrecht</strong></p>
    <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen
       dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art
       der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen
       Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
       nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
       dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
       beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
       trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
       entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige
       Inhalte umgehend entfernen.</p>
</ion-content>
