<ion-list>
  <ion-list-header>
    <ion-label>{{'settings.legal.title' | translate}}</ion-label>
  </ion-list-header>
  <ion-item detail (click)="open('privacy')">
    <ion-label>{{'settings.legal.privacy' | translate}}</ion-label>
  </ion-item>
  <ion-item detail (click)="open('legal')">
    <ion-label>{{'settings.legal.imprint' | translate}}</ion-label>
  </ion-item>
  <ion-item detail (click)="open('terms')">
    <ion-label>{{'settings.legal.terms' | translate}}</ion-label>
  </ion-item>
</ion-list>
