// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "darkmode";

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Montserrat';
  --ion-background-color: #fff;
  --ion-color-message-sent: #159fa7;
  --ion-color-message-received: #d4d4d4;
  --ion-color-order-unread: antiquewhite;

  --ion-color-primary: #fca652;
  --ion-color-primary-rgb: 252, 166, 82;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #de9248;
  --ion-color-primary-tint: #fcaf63;

  --ion-color-secondary: #ac4b1c;
  --ion-color-secondary-rgb: 172, 75, 28;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #974219;
  --ion-color-secondary-tint: #b45d33;

  --ion-color-tertiary: #ffd57e;
  --ion-color-tertiary-rgb: 255, 213, 126;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0bb6f;
  --ion-color-tertiary-tint: #ffd98b;

  --ion-color-success: #16a596;
  --ion-color-success-rgb: 22, 165, 150;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #139184;
  --ion-color-success-tint: #2daea1;

  --ion-color-warning: #be8d23;
  --ion-color-warning-rgb: 190, 141, 35;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #a77c1f;
  --ion-color-warning-tint: #c59839;

  --ion-color-danger: #c02c1b;
  --ion-color-danger-rgb: 192, 44, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a92718;
  --ion-color-danger-tint: #c64132;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * Dark Colors for manually toggling
 * -------------------------------------------
 */
:root {
  body.dark {
    @include body-dark;
    --ion-color-order-unread: var(--ion-border-color);

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body.dark {
    @include ios-dark;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark {
    @include md-dark;
  }
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Montserrat-Semibold.ttf');
}

