ion-content {
  background: url("/assets/backgrounds/spices.jpg") no-repeat;
  --background: none;
  background-size: cover;

  .login-description {
    color: white;
    margin: 50px 35px 0 16%;
    border-bottom: 1px solid white;

    p {
      font-weight: bold;
      line-height: 25px;

      &.text {
        font-weight: 600;
      }
    }
  }

  .login-buttons {
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
    margin: auto;
    width: 66%;

    ion-button {
      color: white;

      &.register {
        color: var(--ion-color-primary);
        --background: white;
      }
    }

    .social-login-wrapper {
      font-size: 30px;

      ion-icon {
        border: 1px solid white;
        color: white;
        border-radius: 20px;
        padding: 5px;
      }
    }

  }

}

.form-wrapper {
  transform: translateY(500px);
  position: absolute;
  background-color: var(--ion-background-color);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  bottom: 0;
  width: 100%;
  padding: 10px;


  ion-item {
    --background: none;
    &.invalid {
      --border-color: var(--ion-color-danger);
    }
  }

  ion-icon {
    &.close-icon {
      color: var(--ion-text-color);
      margin: 10px 5px;
      font-size: 22px;
    }
  }
}

