<ion-content>
  <ion-back-button class="back-button">
    <ion-icon name="chevron-back-sharp" ></ion-icon>
  </ion-back-button>
  <div class="login-description">
    <p class="title">
      {{'login.description.title' | translate}}
    </p>
    <p class="text">
      {{'login.description.text' | translate}}
    </p>
  </div>

  <div class="login-buttons" fxLayout="column" fxLayoutGap="10px">
    <ion-button expand="block"
                fill="solid"
                (click)="showForm('login')">
      {{'login.button.login' | translate }}
    </ion-button>
    <ion-button class="register"
                expand="block"
                fill="solid"
                (click)="showForm('register')">
      {{'login.button.register' | translate}}
    </ion-button>

    <div class="social-login-wrapper" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <ion-icon (click)="googleLogin()" name="logo-google"></ion-icon>
      <ion-icon (click)="facebookLogin()" name="logo-facebook"></ion-icon>
      <ion-icon (click)="appleLogin()" name="logo-apple"></ion-icon>
    </div>
  </div>
</ion-content>

<div *ngIf="shouldShowForm" class="form-wrapper" fxLayout="column">
  <div fxFlex fxLayoutAlign="end center">
    <ion-icon class="close-icon" name="close-sharp" (click)="closeForm()"></ion-icon>
  </div>
  <app-login-form *ngIf="shouldShowLoginForm"></app-login-form>
  <app-register-form *ngIf="shouldShowRegisterForm"></app-register-form>
</div>
