<div class="form-header" fxLayout="row" fxLayoutAlign="space-between start">
  <ion-label class="form-title" fxLayout="column">
    <span>{{'login.form.title.register' | translate}}</span>
  </ion-label>
  <app-image-uploader [isProfileImage]="true" [size]="1"></app-image-uploader>
</div>

<form class="login-form" [formGroup]="form" fxLayoutGap="20px" fxLayout="column">
  <ion-item [class.invalid]="form.controls.email | formHasError">
    <ion-label position="stacked">{{'form.email.label' | translate}}</ion-label>
    <ion-input formControlName="email" placeholder="{{'form.mandatory' | translate}}"></ion-input>
  </ion-item>

  <ion-item [class.invalid]="form.controls.password | formHasError">
    <ion-label position="stacked">{{'form.password.label' | translate}}</ion-label>
    <ion-input type="password" placeholder="{{'login.form.password.register_placeholder' | translate}}"
               formControlName="password"></ion-input>
  </ion-item>

  <ion-item [class.invalid]="form.controls.username | formHasError">
    <ion-label position="stacked">{{'form.username.label' | translate}}</ion-label>
    <ion-input placeholder="{{'form.mandatory' | translate}}"
               formControlName="username"></ion-input>
  </ion-item>

<!--  <ion-item [class.invalid]="form.controls.firstName | formHasError">-->
<!--    <ion-label position="stacked">{{'login.form.firstName.label' | translate}}</ion-label>-->
<!--    <ion-input placeholder="{{'login.form.mandatory' | translate}}"-->
<!--               formControlName="firstName"></ion-input>-->
<!--  </ion-item>-->

<!--  <ion-item [class.invalid]="form.controls.lastName | formHasError">-->
<!--    <ion-label position="stacked">{{'login.form.lastName.label' | translate}}</ion-label>-->
<!--    <ion-input placeholder="{{'login.form.mandatory' | translate}}"-->
<!--               formControlName="lastName"></ion-input>-->
<!--  </ion-item>-->

</form>

<ion-button [disabled]="isLoading || form.invalid"
            expand="block"
            fill="solid"
            (click)="register()">
  {{'login.button.register' | translate }}
</ion-button>
