ion-button {
  margin-top: 10px;
}
.form-header {
  margin-top: 15px;

  .form-title {
    width: 95px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    color: var(--ion-text-color);
  }
}

