<ion-list>
    <ion-list-header *ngIf="showHeader">
        <ion-label translate>{{'settings.privacy.title' | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>{{'settings.privacy.analytics.toggle' | translate}}</ion-label>
        <ion-icon name="help-circle-sharp" (click)="showAnalyticsInfo()"></ion-icon>
        <ion-toggle [ngModel]="privacy.analytics" (ionChange)="setAnalytics($event.detail.checked)"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>{{'settings.privacy.performance.toggle' | translate}}</ion-label>
        <ion-icon name="help-circle-sharp" (click)="showPerformanceInfo()"></ion-icon>
        <ion-toggle [ngModel]="privacy.performance" (ionChange)="setPerformance($event.detail.checked)"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>{{'settings.privacy.crashlytics.toggle' | translate}}</ion-label>
        <ion-icon name="help-circle-sharp" (click)="showCrashlyticsInfo()"></ion-icon>
        <ion-toggle [ngModel]="privacy.crashlytics" (ionChange)="setCrashlytics($event.detail.checked)"></ion-toggle>
    </ion-item>

  <ion-item>
    <ion-label>{{'settings.privacy.personalizedAds.toggle' | translate}}</ion-label>
    <ion-icon name="help-circle-sharp" (click)="showPersonalizedAdsInfo()"></ion-icon>
    <ion-toggle [ngModel]="privacy.personalizedAds" (ionChange)="setPersonalizedAds($event.detail.checked)"></ion-toggle>
  </ion-item>
</ion-list>
