<ion-header>
  <ion-toolbar>
    <ion-title>{{'home.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter()">
        <ion-icon name="funnel-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center" *ngIf="filter">
    <ion-text (click)="showFilter()">{{filter.geocoderResult.formatted_address}}, {{filter.radius}} km</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="hasLocation && (isLoading || !isLoading && products.length > 0)">
    <app-recommended-slider [items]="products" title="{{'home.recommended' | translate}}"></app-recommended-slider>
    <app-product-slider [items]="products" title="{{'home.newest' | translate}}"></app-product-slider>
    <app-product-slider [items]="products" title="{{'home.best' | translate}}"></app-product-slider>
  </ng-container>

  <ng-container *ngIf="!isLoading && hasLocation && (products && products.length === 0)">
    <div fxLayout="column" fxLayoutAlign="center center" class="ion-text-center" fxLayoutGap="10px">
      <ion-text>{{'home.product.empty' | translate}}</ion-text>
      <ion-text>{{'home.product.createText' | translate}}</ion-text>
      <ion-button routerLink="../create">{{'home.product.create' | translate}}</ion-button>
    </div>
  </ng-container>

  <ng-container *ngIf="!hasLocation">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img [src]="'assets/illustration/map.svg'">
      <ion-text class="ion-text-center">{{'home.noLocation.description' | translate}}</ion-text>
      <ion-button (click)="showFilter()">{{'home.noLocation.openFilter' | translate}}</ion-button>
    </div>
  </ng-container>
</ion-content>
