<ion-segment (ionChange)="segmentChanged($event)" [value]="currentState" scrollable routerLinkActive>
  <ion-segment-button [value]="requestStatusEnum.PENDING">
    <ion-label>{{'order.requests.segment.pending.label' | translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="requestStatusEnum.ACCEPTED">
    <ion-label>{{'order.requests.segment.accepted.label' | translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button [value]="requestStatusEnum.DECLINED">
    <ion-label>{{'order.requests.segment.declined.label' | translate}}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-list>
  <ng-container *ngIf="filteredRequests?.length > 0; else noData">
    <ion-item-sliding id="slider-{{i}}" *ngFor="let request of filteredRequests; let i = index">
      <ion-item [class.unread]="!request.read" (click)="openChat(request)" detail>
        <div class="item-wrapper" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <ion-avatar>
            <ion-img [src]="request.item.defaultImage"></ion-img>
          </ion-avatar>
          <div class="item-meta" fxLayout="column" fxLayoutGap="3px" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <ion-label class="timestamp">{{request.fromUser.username}}</ion-label>
              <ion-label class="timestamp">{{request.timestamp | localeDate:true}}</ion-label>
            </div>
            <ion-label class="name">{{request.item.name}}</ion-label>
          </div>

        </div>

      </ion-item>
      <ion-item-options *ngIf="request.status === requestStatusEnum.PENDING" side="end">
        <ion-item-option class="accept" (click)="setStatus(request, requestStatusEnum.ACCEPTED)">
          <ion-icon name="checkmark-sharp"></ion-icon>
        </ion-item-option>

        <ion-item-option class="decline" (click)="setStatus(request, requestStatusEnum.DECLINED)">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ng-container>

  <ng-template #noData>
    <div *ngIf="currentState === requestStatusEnum.PENDING">
      {{'order.requests.segment.pending.noData' | translate}}
    </div>

    <div *ngIf="currentState === requestStatusEnum.ACCEPTED">
      {{'order.requests.segment.accepted.noData' | translate}}
    </div>

    <div *ngIf="currentState === requestStatusEnum.DECLINED">
      {{'order.requests.segment.declined.noData' | translate}}
    </div>
  </ng-template>

</ion-list>
