ion-item {
  &.unread {
    --background: var(--ion-color-order-unread);
  }
  .item-wrapper {
    padding: 8px;
    width: 100%;

    .item-meta {
      .name {
        font-weight: bold;
      }

      .timestamp {
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

}
ion-item-options {
  ion-item-option {
    color: white;
    &.accept {
      --background: var(--ion-color-success);
    }

    &.decline {
      --background: var(--ion-color-danger);
    }
  }
}
