.autocomplete-item {
  --background: transparent;

  .label {
    margin: 0;
    padding: 13px 8px 13px 16px;
  }

  input {
    border: none;
    background-color: transparent;
  }

  .place-input {
    width: 100%;

    .autocomplete-input {
      width: 100%;
    }
    .locate-button {
      height: 100%;
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}


.item-title-label {
  --color: var(--ion-color-medium);
}

.location-list {
  z-index: 999;
  margin-top: 0;
  margin-bottom: 0;

  ion-icon {
    color: var(--ion-color-primary);
  }

  ion-label {
    font-size: 14px;
  }

  ion-spinner {
    margin-right: 10px;
  }
}
