<ion-item class="autocomplete-item create-type-item">
  <div class="place-input" fxLayout="row" fxLayoutAlign="space-between center">
    <ion-input #search
               class="autocomplete-input"
               clearInput
               placeholder="{{'location.search.placeholder' | translate}}"
               [ngModel]="selectedLocation?.formatted_address"
               (ngModelChange)="clearInput()"
               (keyup)="searchTerm$.next(search.value)">
    </ion-input>
    <ion-button (click)="getCurrentLocation()" class="locate-button" fill="clear" slot="end">
      <ion-icon name="locate-sharp"></ion-icon>
    </ion-button>
  </div>
</ion-item>

<ion-list class="location-list">
  <ng-container *ngIf="!isLoading && !selectedLocation">
    <ion-item (click)="setLocation(location)" *ngFor="let location of locations">
      <ion-icon name="pin-sharp"></ion-icon>
      <ion-label class="place-description ion-text-wrap">{{ location.formatted_address }}</ion-label>
    </ion-item>

    <ion-item *ngIf="locations?.length === 0">
      <ion-label class="place-description ion-text-wrap">{{ 'location.search.error' | translate }}</ion-label>
    </ion-item>
  </ng-container>

  <ion-item *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <ion-label class="place-description">{{ 'location.search.loading' | translate }}</ion-label>
  </ion-item>
</ion-list>


