<ion-header>
    <ion-toolbar class="header">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'settings.legal.terms' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h4>1. Allgemeines</h4>
    <p>
        Die kenara UG (haftungsbeschränkt) i.G., Poßmoorweg 2, 22301 Hamburg (nachfolgend „kenara“), betreibt die
        App kenara (nachfolgend „App“). Die App bietet registrierten Nutzern (nachfolgend „Nutzer“) die Möglichkeit,
        private Lagerplätze, Garagen und Abstellräume (nachfolgend „Lagerplatz“) zu vermieten bzw. anzumieten. Zu diesem
        Zweck können Nutzer, die ihren Lagerplatz vermieten wollen (nachfolgend „Vermieter“), auf der App einschlägige
        Angebote erstellen. Nutzer, die Lagerplatz anmieten wollen (nachfolgend „Mieter“), können die Anmietung auf der
        App vornehmen. Ferner werden auf der App Informationen für registrierte und nicht registrierte Nutzer
        bereitgestellt.
    </p>

    <h4>2. Nutzungsvertrag für die App</h4>
    <ul>
        <li>(1) Durch die Registrierung auf der App, die das vollständige Ausfüllen und Speichern der Angaben im
            persönlichen Appkonto voraussetzt, entsteht zwischen dem Nutzer und kenara ein Nutzungsvertrag.
            Dabei sind alle Angaben vollständig und korrekt anzugeben. Geänderte Angaben müssen ohne Verzug im
            persönlichen Appkonto aktualisiert werden.
        </li>
        <li>(2) Ein Anspruch auf Abschluss eines Nutzungsvertrages existiert nicht. Ein Nutzungsvertrag kann nur mit
            unbeschränkt geschäftsfähigen Personen abgeschlossen werden. Beschränkt geschäftsfähige und
            geschäftsunfähige Personen dürfen sich auf der App nicht registrieren.
        </li>
        <li>(3) kenara stellt ausschließlich die App zur Verfügung und ermöglicht die Suche nach sowie das Anfragen
            von Lagerplatzangeboten. kenara ist nicht der Anbieter von den auf der App angebotenen Lagerplätzen
            und berät Nutzer nicht bei der Erstellung und Auswahl der auf der App veröffentlichten Angebote.
        </li>
        <li>(4) Die Nutzung der App ist für Nutzer kostenlos.</li>
        <li>(5) kenara ist berechtigt, ihre Dienstleistungen durch Dritte erbringen zu lassen.</li>
        <li>(6) kenara darf die Daten der Nutzer in Übereinstimmung mit der Datenschutzerklärung zu erheben, zu
            verarbeiten und zu nutzen.
        </li>
        <li>(7) Die Nutzung der App wird nur für private Zwecke gestattet. Die App darf explizit nicht für
            betrügerische oder falsche Ver- bzw. Anmietungen verwendet werden.
        </li>
        <li>(8) kenara behält sich das Recht vor, Nutzer von der Appnutzung auszuschließen und/oder ihre
            Angebote zu sperren oder löschen, sofern die Nutzer die App missbräuchlich nutzen bzw. sie und/oder ihre
            Angebote gegen diese AGB oder geltende Gesetze verstoßen.
        </li>
        <li>(9) kenara macht alles in ihrer Macht stehende, um den Betrieb der App stets und möglichst vollständig auf
            allen Endgeräten sicherzustellen. Bei Bedarf kann kenara jedoch die Verfügbarkeit der App aufgrund von
            Wartungsarbeiten oder anderen Gründen einschränken. Insofern kann eine durchgehend hundertprozentige
            Verfügbarkeit der App nicht gewährleitet werden.
        </li>
        <li>(10) kenara behält sich das Recht vor, den Aufbau und die Funktionalität der App jederzeit ohne Zustimmung
            der Nutzer zu ändern oder anzupassen.
        </li>
        <li>(11) Der Nutzungsvertrag wird auf unbestimmte Zeit geschlossen. Sowohl Nutzer, als auch kenara können den
            Nutzungsvertrag jederzeit kündigen. kenara behält sich vor, den Betrieb der App ohne Zustimmung von
            Nutzern einzustellen. Eine solche Betriebseinstellung gleicht einer Kündigung des Nutzungsvertrags durch
            kenara.
        </li>
        <li>(12) Sollten Dritte wegen Nutzung der App durch den Nutzer Ansprüche gegen kenara geltend machen
            (z.B.
            wegen Marken-, Wettbewerbs- oder Urheberrechtsverletzungen), so wird der einschlägige Nutzer kenara von
            diesen Ansprüchen auf erstes Anfordern hin freistellen.
        </li>
    </ul>

    <h4>3. An-/Vermietung von Lagerplätzen</h4>
    <ul>
        <li>kenara übernimmt keine Haftung für An-/ und Vermietung von Lagerplätzen.
            Die An-/ und Vermietung, Kommunikation und Bezahlung der Lagerplätze erfolgt ausdrücklich über den An- bzw.
            Vermieter. kenara bietet lediglich die Platform um Lagerplätze zu suchen bzw. anzuzeigen.
        </li>
    </ul>

    <h4>4. Haftung von kenara</h4>
    <ul>
        <li>(1) kenara übernimmt keine Haftung für die Richtigkeit, Vollständigkeit, Verlässlichkeit oder
            Glaubwürdigkeit der Inhalte und/oder Angebote, die durch Nutzer auf der App eingestellt werden.
        </li>
        <li>(2) Durch die Annahme der vorstehend erwähnten Vollmachten übernimmt kenara keine Haftung für Handlungen
            oder Unterlassungen des Vermieters bzw. des Mieters.
        </li>
        <li>(3) Bei Vorsatz und grober/leichter Fahrlässigkeit übernimmt kenara keine Haftung.
            Bei Schäden an Leib und Leben sowie Gesundheit übernimmt kenera ebenfalls keine Haftung.
        </li>
    </ul>

    <h4>5. Folgendes darf nicht eingelagert werden</h4>
    <ul>
        <li>(1) Verderblichen Waren wie z.B. Lebensmittel</li>
        <li>(2) Gift & Chemikalien</li>
        <li>(3) Leicht entflammbares</li>
        <li>(4) Schmutzstoffe & radioaktive Stoffe</li>
        <li>(5) Sprengstoffe, Waffen & Muniton</li>
        <li>(6) Lebewesen</li>
        <li>(7) Gesetzeswidrige Gegenstände</li>
    </ul>

    <h4>6. Sonstiges</h4>
    <ul>
        <li>
            (1) kenara behält sich vor, diese AGB jederzeit zu ändern, sofern dies für die Nutzer zumutbar ist und diese
            die Nutzer nicht unangemessen benachteiligen. Die Nutzer werden zwei Wochen vor Inkrafttreten der Änderungen
            per E-Mail über die Änderungen informiert. Widersprechen die Nutzer nicht innerhalb von zwei Wochen nach
            Ankündigung der Änderung, so gelten die geänderten AGB als von den Nutzern angenommen. Auf diesen Umstand
            wird bei Ankündigung der Änderung erneut hingewiesen.
        </li>
        <li>
            (2) Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach
            Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des Vertrages im Übrigen
            unberührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und
            durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzung am nächsten kommen, die die
            Vertragsparteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt haben. Die vorstehenden
            Bestimmungen gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist.
        </li>
        <li>
            (3) Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts. Sofern rechtlich
            zulässig, ist Erfüllungsort für die gegenseitigen Verpflichtungen aus dem Nutzungsvertrag sowie dem
            Dienstleistungsvertrag der Sitz von kenara.
        </li>
    </ul>
</ion-content>
