<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="isEditing" slot="end">
      <ion-button color="primary" (click)="close()">
        <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{(!isEditing ? 'publish.header.default' : 'publish.header.edit') | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="productForm">
  <app-image-uploader [images]="productForm.controls.images.value" [size]="5"></app-image-uploader>
  <app-place-autocomplete [selectedLocation]="selectedLocation"
                          (onSelectedLocation)="convertLocationToForm($event)">
  </app-place-autocomplete>

  <ion-item class="title" [class.invalid]="productForm.controls.name | formHasError">
    <ion-label position="stacked">{{'publish.title.label' | translate}}</ion-label>
    <ion-input placeholder="{{'publish.title.placeholder' | translate}}"
               formControlName="name"
               required>
    </ion-input>
  </ion-item>

  <ion-item class="description">
    <ion-label position="stacked">{{'publish.description.label' | translate}}</ion-label>
    <ion-textarea placeholder="{{'publish.description.placeholder' | translate}}" [rows]="5"
                  formControlName="description">
    </ion-textarea>
  </ion-item>


  <ion-item class="portion-wrapper" lines="none" formGroupName="portion" >
    <ion-label position="stacked">{{'portion.label' | translate}}</ion-label>

    <ion-item [class.invalid]="productForm.get('portion').get('unit') | formHasError">
      <ion-label class="portion-item-label">{{'portion.unit.label' | translate}}</ion-label>
      <ion-select placeholder="{{'portion.unit.placeholder' | translate}}"
                  interface="popover"
                  formControlName="unit">
        <ion-select-option *ngFor="let unit of units"
                           [value]="unit.value">{{unit.label}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fxLayout="row" fxLayoutGap="10px" [class.invalid]="productForm.get('portion').get('size') | formHasError">
      <ion-label class="portion-item-label">{{'portion.size.label' | translate}}</ion-label>
      <ion-input type="tel"
                 placeholder="{{'portion.size.placeholder' | translate}}"
                 formControlName="size" required>
      </ion-input>
    </ion-item>

    <ion-item fxLayout="row" fxLayoutGap="10px" [class.invalid]="productForm.get('portion').get('size') | formHasError">
      <ion-label class="portion-item-label">{{'portion.price.label' | translate}}</ion-label>
      <ion-input required>
        <input id="product-price"
               aria-label="price"
               class="fakeInput ion-text-left"
               currencyMask
               formControlName="price"
               type="tel"
               (focus)="scrollTo()">
      </ion-input>
    </ion-item>
  </ion-item>

  <ion-button expand="full" fill="solid" class="publish"
              [disabled]="productForm.invalid || productForm.pristine"
              (click)="publish()">{{'button.publish' | translate}}
  </ion-button>
</ion-content>
