ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding: 0;
  width: 100%;

  &.invalid {
    --border-color: var(--ion-color-danger);
  }
  &.title, &.description {
    margin-bottom: 15px;
  }
}

.portion-wrapper {

  ion-select {
    width: 100%;
    padding: 0;

    &::part(text) {
      width: 100%;
    }

    &::part(icon) {
      position: absolute;
      right: 5px;
    }
  }

  .portion-item-label {
    min-width: 40%;
  }

  .fakeInput {
    width: 100%;
    border: none !important;
    outline: none !important;
    background: none;
  }
}

ion-button {
  &.publish {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
