<ion-header>
  <ion-toolbar>
    <ion-title>{{'order.title' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>

    <ion-segment (ionChange)="segmentChanged($event)" [value]="currentState" scrollable routerLinkActive>
      <ion-segment-button value="requests">
        <ion-badge *ngIf="numberOfUnreadRequests$ | async as amount">{{amount}}</ion-badge>
        <ion-label>{{'order.userRequests' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="orders">
        <ion-label>{{'order.ownRequests' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="currentState">
    <app-requests [user]="user" *ngSwitchCase="'requests'"></app-requests>
    <app-orders [user]="user" *ngSwitchCase="'orders'"></app-orders>
  </ng-container>

</ion-content>
