<ion-header>
  <ion-toolbar>
    <ion-title>{{user?.username}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="sort-wrapper" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex>
      <ion-label>{{'general.sort.by' | translate}}</ion-label>

      <ion-select class="ion-no-padding ion-no-margin"
                  interface="popover"
                  [(ngModel)]="sortBy"
                  (ionChange)="sortItems()">
        <ion-select-option value="rating">
          {{'user.items.sort.rating' | translate}}
        </ion-select-option>
        <ion-select-option value="favorites">
          {{'user.items.sort.favorites' | translate}}
        </ion-select-option>
        <ion-select-option value="price">
          {{'user.items.sort.price' | translate}}
        </ion-select-option>
        <ion-select-option value="timestamp">
          {{'user.items.sort.timestamp' | translate}}
        </ion-select-option>
        <ion-select-option value="name">
          {{'user.items.sort.name' | translate}}
        </ion-select-option>
      </ion-select>

      <ion-segment class="ion-no-padding ion-no-margin"
                   [(ngModel)]="direction"
                   (ionChange)="sortItems()">
        <ion-segment-button value="desc">
          {{'general.sort.desc' | translate}}
        </ion-segment-button>
        <ion-segment-button value="asc">
          {{'general.sort.asc' | translate}}
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-virtual-scroll [items]="sortedProducts" approxItemHeight="150px">
    <app-item-view *virtualItem="let item; let itemBounds = bounds;"
                   [item]="item"
                   [showUserInfo]="false"
                   [showFavoriteCount]="true"
                   [showTimestamp]="true"
                   (click)="showProductDetail(item)">
      <ion-label class="item-description" description>{{item.description}}</ion-label>
    </app-item-view>
  </ion-virtual-scroll>
</ion-content>
