@import "mixins";

.sort-wrapper {
  ion-select {
    padding-right: 5px;
  }
}

app-item-view {
  height: 150px;
  margin-bottom: 10px;

  .item-description {
    @include clamp-text;

    font-weight: normal;
    font-size: 14px;
    width: 100%;
  }

}
