<div class="slider-home-div" fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="column">
    <ion-list-header>{{title}}</ion-list-header>
    <ion-spinner class="spinner" [hidden]="items"></ion-spinner>
  </div>

  <ion-slides [options]="slideOpts" #defaultSlider>
    <ion-slide *ngFor="let item of items" (click)="showProductDetail(item)">
      <app-item-view [item]="item"></app-item-view>
    </ion-slide>
  </ion-slides>
</div>
